@font-face {
    font-family: mono;
    src: url(../fonts/SpaceMono-Bold.ttf);
}

@font-face {
    font-family: sans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

body{
    background-color: #2B2B2B;
    overflow-x: hidden;
    margin: 0;
}

@media only screen and (max-width: 991px) {
    .join2button {
        justify-content: center;
        width: 100%;
        position: static;
    }
}

@media only screen and (min-width: 991px) {
    .join2button {
        position: absolute;
        width: fit-content;
    }

    .hd{
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 600px) {
    .background>img{
        margin-left: 130px !important; 
    }
}

.container {
    align-items: center;
    align-self: stretch;
    background-color: var(--background---secondary);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    mix-blend-mode: normal;
    position: relative;
}

.nav-link:hover {
    transform: scale(0.95);

}


.navbar-toggler {
    border: 0;
}

.nav-link:hover {
    transform: scale(0.95);
}


.TTn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    gap: 12px;

    height: 60px;

    background: #A259FF;
    border-radius: 20px;
    border: 0;

    font-family: sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;

    transition-property: transform;
    transition-duration: 0.3s;
}

.TTn:hover {
    transform: scale(0.95);
    transition: all 0.3;
}

.nav-link {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;

    transition-property: transform;
    transition-duration: 0.3s;
}

.nav-link:hover {
    transform: scale(0.95);
}

.headlinesubline {
    color: white;
    display: grid;
    gap: 30px;
}

.background{
    background-image: url(../images6/Image\ PlaceHolder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background>img{
    border: black solid 2px;
    border-radius: 20px;

    margin-left: 283px;
    margin-top: 335px;
}

.cards>a{
    transition: all 0.3s;
}

.cards>a:hover{
    transform: scale(0.95);
}

.img>img{
    width: 100%;
}

.cardinfo{
    background: #2B2B2B;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}

.artistinfo>h1{
    font-family: 'Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
  
    color: #FFFFFF;   
}

.artist>p{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; 

    color: #FFFFFF;   
}

.ppp>p{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    color: #858584;
}

.ppp>:last-child{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    margin: 0;

    color: #FFFFFF;   
}

.h>p{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
  
    text-align: right;
    
    color: #858584;
    
}

.h>:last-child{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    margin: 0;
   
    text-align: right;
  
    color: #FFFFFF;
}

.Animakid>h1{
    font-family: 'Sans';
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;

    color: #FFFFFF;
}

.valume>p{
    font-family: 'Mono';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;

    margin: 0;
 
    color: #FFFFFF;  
}

.valume>:last-child{
    font-family: 'Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  
    color: #FFFFFF;   
}

.bio>p{
    font-family: 'Mono';
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;

    color: #858584;  
}

.bio>:last-child{
    font-family: 'Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;

    color: #FFFFFF;   
}

.links>p{
    font-family: 'Mono';
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;

    color: #858584;  
}


.buttons>button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    gap: 12px;
  
    background: #A259FF;
    border-radius: 20px;
    border: 0;

    transition: all 0.3s;

    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    text-align: center;
    
    color: #FFFFFF;
}

.buttons>:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    gap: 12px;

    background: transparent;

    border: 2px solid #A259FF;
    border-radius: 20px;   

    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    text-align: center;
    
    color: #FFFFFF;
}

.buttons>button:hover{
    transform: scale(0.95);
}

.p{
    display: flex;
    padding: 5px 10px;
    margin-left: 5px;
    gap: 10px;

    width: 50px;
    height: 32px;
    
    background: #858584;
    border-radius: 20px;   
}

.p>p{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;   
    
    color: #FFFFFF;
}

.NFTs>h1{
    font-family: 'Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;

    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
    margin: 0;
}


.colls>h1{
    font-family: 'Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;

    text-align: center;
    text-transform: capitalize;

    color: #858584;
    margin: 0;
}

.pp{
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    margin-left: 5px;
    gap: 10px;
    

    background: #3B3B3B;
    border-radius: 20px;
}

.pp>p{
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    
    color: #FFFFFF;
}

.join2>input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px 16px 20px;
    gap: 12px;

    background: #FFFFFF;
    border-radius: 20px;
    border: 0;

    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #2B2B2B;
}

.join2>button {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    
    color: #FFFFFF;

    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    left: 54%;
    padding: 11px 50px;

    background: #A259FF;
    border-radius: 20px;
    border: 0;

    transition-property: transform;
    transition-duration: 0.3s;
}

.join2>button:hover {
    transform: scale(0.95);
    transform-origin: center;
}

.community>p {
    font-family: 'Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #CCCCCC
}

.explore>h1 {
    font-family: 'Mono';
    font-weight: 700;
    font-size: 27px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.explore>a {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #CCCCCC;
}

.subscribe>h1 {
    font-family: 'Mono';
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF
}

.subscribe>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #CCCCCC;
}

.line {
    border: 1px solid #858584;
}

.aaa>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    color: #CCCCCC;
}