@font-face {
    font-family: mono;
    src: url(../fonts/SpaceMono-Bold.ttf);
}

@font-face {
    font-family: sans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@media only screen and (max-width: 991px) {
    .h11 {
        font-size: 28px !important;
    }
}

@media only screen and (max-width: 991px) {
    .p1 {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 991px) {
    .btnn {
        width: 100% !important;
    }
}

@media only screen and (min-width: 991px) {
    .join2>button {
        position: absolute;
    }
}

@media only screen and (max-width: 991px) {
    .join2button {
        justify-content: center;
        width: 100%;
        position: static;
    }
}

@media only screen and (min-width: 991px) {
    .join2button {
        position: absolute;
        width: fit-content;
    }
}

@media only screen and (min-width: 991px) {
    .sub{
        display: flex;
        justify-content: space-between;
        background: #3B3B3B;
        border-radius: 20px;
        padding: 60px;
        gap: 20px;
    }
}

@media only screen and (min-width: 576px) {
    .text5 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 576px) {
    .img5 {
        width: 100% !important;
    }

}

@media only screen and (min-width: 579px) {
    .img5 {
        width: 510px !important;
    }

}

@media only screen and (max-width: 579px) {
    .img4 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 991px) {
    .join2button {
        justify-content: center;
        width: 100%;
        position: static;
    }
}

@media only screen and (min-width: 991px) {
    .join2button {
        position: absolute;
        width: fit-content;
    }
}

@media only screen and (max-width: 991px) {
    .PPP {
        display: grid;
        flex-direction: column;
    }

    .DDD {
        width: 100%;
    }

    .primary {
        width: 100%;
    }

    .primary>a {
        display: flex;
        width: 100%;
    }

    .primary>a>img {
        width: 100%;
    }

    .hero-section-frame {
        width: 100%;
    }

    .a1 {
        display: flex;
    }

    .a2 {
        display: none;
    }

    .a3 {
        width: 100%;
    }

    .text3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }

    .text3>h1 {
        text-align: left;
    }

    .SS {
        width: 32%;
    }

    .infocards {
        display: flex;
        align-items: center;
    }

    .infocard>h1 {
        font-family: 'Sans';
        font-weight: 600;
        line-height: 140%;
        font-size: 16px;
        text-transform: capitalize;

        color: #FFFFFF;

    }

    .infocard>p {
        font-family: 'Sans';
        font-weight: 600;
        line-height: 140%;
        font-size: 12px;
        text-transform: capitalize;

        color: #FFFFFF;

    }

    .img6>img {
        width: 100px;
    }
}

@media only screen and (min-width: 991px) {
    .infocard>h1 {
        font-family: 'Sans';
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;

        text-align: center;
        text-transform: capitalize;

        color: #FFFFFF;
    }

    .infocard>p {
        font-family: 'Sans';
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;

        text-align: center;
        text-transform: capitalize;

        color: #FFFFFF;

    }
}

* {
    box-sizing: border-box;
}


body {
    background-color: #2B2B2B;
    overflow-x: hidden;
}

.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.nav-link:hover {
    transform: scale(0.95);

}


.navbar-toggler {
    border: 0;
}

.nav-link:hover {
    transform: scale(0.95);
}


.TTn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    gap: 12px;

    height: 60px;

    background: #A259FF;
    border-radius: 20px;
    border: 0;


    font-family: sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;

    transition-property: transform;
    transition-duration: 0.3s;
}

.TTn:hover {
    transform: scale(0.95);
    transition: all 0.3;
}

.nav-link {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;

    transition-property: transform;
    transition-duration: 0.3s;
}

.nav-link:hover {
    transform: scale(0.95);
}

.headlinesubline {
    color: white;
    display: grid;
    gap: 30px;
}

.btnn {
    font-family: 'Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    height: 60px;

    background: #A259FF;
    border-radius: 20px;
    border: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;

    transition-property: transform;
    transition-duration: 0.3s;
}

.btnn:hover {
    transform: scale(0.95);
    transition: all 0.3;
}

.two {
    font-family: 'mono';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.Total>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.Auctions>h1 {
    font-family: 'mono';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.Auctions>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.Artists>h1 {
    font-family: 'mono';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.Artists>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.text>h1 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.text>p {
    font-family: 'Sans';

    font-weight: 400;
    font-size: 22px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.info>h1 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.info>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
}

.primary {
    transition-property: transform;
    transition-duration: 0.3s;
}

.primary:hover {
    transform: scale(0.95);
}

.img1 {
    transition-property: transform;
    transition-duration: 0.3s;
}

.img1:hover {
    transform: scale(0.95);
}

.img2 {
    transition-property: transform;
    transition-duration: 0.3s;
}

.img2:hover {
    transform: scale(0.95);
}

.img3 {
    transition-property: transform;
    transition-duration: 0.3s;
}

.img3:hover {
    transform: scale(0.95);
}

.text2>h1 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.text2>p {
    font-family: 'Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.btn2>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    height: 60px;

    border: 2px solid #A259FF;
    border-radius: 20px;

    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    line-height: 140%;
    text-align: center;

    color: #FFFFFF;

}

.btn2 {
    transition-property: transform;
    transition-duration: 0.3s;
}

.btn2:hover {
    transform: scale(0.95);
}

.a1 {
    padding: 20px;

    background: #3B3B3B;
    border-radius: 20px;

    transition-property: transform;
    transition-duration: 0.3s;
}

.a1:hover {
    transform: scale(0.95);
}

.a2 {
    padding: 20px;

    background: #3B3B3B;
    border-radius: 20px;

    transition-property: transform;
    transition-duration: 0.3s;
}

.a2:hover {
    transform: scale(0.95);
}

.Artists1 {
    position: relative;
}

.text3>h1 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.text3>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #858584;
}

.text3>p>strong {
    font-family: 'Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
}

.card-info {
    background-color: #3B3B3B;
    width: 100%;
    height: 76px;
    padding: 20px 30px 25px;
    border-radius: 0px 0px 20px 20px;
}

.card-info>h1 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.card-image {
    width: 100%;
}

.h23 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;

    text-transform: capitalize;

    color: #FFFFFF;

    margin-bottom: 60px;
}

.Artist-card {
    transition-property: transform;
    transition-duration: 0.3s;
}

.Artist-card:hover {
    transform: scale(0.95);
}

.card-image {
    filter: blur(7.5px);
}

.Artist-card:hover .card-image {
    filter: blur(0px);
}

.Artist-card:hover .CIP {
    visibility: hidden;
}

.CIP {
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
}

.art {
    transition-property: transform;
    transition-duration: 0.3s;
}

.art:hover {
    transform: scale(0.95);
}

.cardinfo {
    background: #3B3B3B;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}

.artinfo>h1 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.artinfo>p {
    font-family: 'mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
}

.addinfo {
    display: grid;
    justify-content: space-between;
}

.info1>p {
    font-family: 'mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    color: #858584;
}

.info1>h1 {
    font-family: 'mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
}

.info2>p {
    font-family: 'mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    color: #858584;
}

.info2>h1 {
    font-family: 'mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;
}

.infocards {
    background: #3B3B3B;
    border-radius: 20px;
    padding: 30px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.infocards:hover {
    transform: scale(0.95);
}

.img6 {
    display: flex;
    justify-content: center;
}

.join {
    display: grid;
    gap: 30px;
}

.join>h1 {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.join>p {
    font-family: 'Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.join2>input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px 16px 20px;
    gap: 12px;

    background: #FFFFFF;
    border-radius: 20px;
    border: 0;

    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #2B2B2B;
}

.join2>button {
    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    
    color: #FFFFFF;


    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    left: 54%;
    padding: 11px 50px;

    background: #A259FF;
    border-radius: 20px;
    border: 0;

    transition-property: transform;
    transition-duration: 0.3s;
}

.join2>button:hover {
    transform: scale(0.95);
    transform-origin: center;
}

.community>p{
    font-family: 'Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #CCCCCC
}

.explore>h1{
    font-family: 'Mono';
    font-weight: 700;
    font-size: 27px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.explore>a{
    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #CCCCCC;
}

.subscribe>h1{
    font-family: 'Mono';
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF
}

.subscribe>p{
    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #CCCCCC;
}

.nftmain{
    background-image: url(../images/NFT\ Info.png);
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.art2{
    background: #3B3B3B;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: 'Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;

    color: #FFFFFF
}

.artistshowcase>h1{
    font-family: 'Sans';
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    
    text-transform: capitalize;
    
    color: #FFFFFF;
}

.artistshowcase>:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 50px;
    gap: 12px;
    
    width: 198px;
    height: 60px;
    
    background: #FFFFFF;
    border-radius: 20px;

    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
 
    text-align: center;
    text-decoration: none;
    
    color: #2B2B2B;  
}

.timer{
    display: grid;

    align-items: center;
    padding: 25px;

    width: 295px;
    height: 144px;

    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;  
}

.timer>p{
    font-family: 'Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    color: #FFFFFF;
}

.time{
    gap: 8px;
}

.time>h1{
    font-family: 'Mono';
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;

    text-transform: capitalize;

    color: #FFFFFF;
}

.date{
    gap: 45px;
}

.date>p{
    font-family: 'Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    color: #FFFFFF;
}

.see{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 50px;
    gap: 12px;

    width: 315px;
    height: 60px;

    background: #FFFFFF;
    border-radius: 20px;

    font-family: 'Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    text-decoration: none;

    color: #2B2B2B;

}

.line{
    border: 1px solid #858584;
}

.aaa>p{
    font-family: 'Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    
    color: #CCCCCC;
}

